.allPostsContainer {
    position: relative;
    top: 160px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.post {
    width: 34%;
    height: 20%;
    box-shadow: 0 4px 10px 0 rgba(17, 4, 63, 0.2), 0 4px 20px 0 rgba(79, 19, 97, 0.19);
    margin: 10px auto;
    border-radius: 15px;
}

.post-left {
    background-color: white !important;
    width: 15%;
    max-width: 15%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    color: #000;
    border-radius: 15px 0 0 15px;
}

.post-content {
    width: 75%;
    display: table-cell;
    text-align: left;
    background-color: #E8E8E8;
    margin: 30px;
    color: #000000;
    border-radius: 0 15px 15px 0;
    padding: 0 20px;
}

.post-title {
    position: relative;
    margin: 0;
    top: 20px;
    font-family: 'Itim', cursive;
    font-weight: bold;
    color: #2b312b;
    font-size: 25px;
    height: 25px;
    overflow: hidden;
}

.post-more {
    outline: none;
    border: 0;
    background-color: transparent;
    float: right;
    cursor: pointer;
    font-size: 18px;
    margin-right: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 10px;
    font-size: 30px;
}

.post-desc {
    margin-right: 30px;
    padding-top: 25px;
    position: relative;
    height: 70px;
    margin-bottom: 0 !important;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    font-size: 16px;
}

body {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0 !important;
    color: #fff;
    background-color: orange;
    background-size: 2000% 2000%;
}

.trash {
    border: 0;
    background-color: transparent;
    float: right;
    cursor: pointer;
    font-size: 18px;
    margin-right: 0 !important;
    padding-right: 0 !important;
    padding-top: 10px;
    font-size: 23px;
}

#delete-modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 150px;
    background-color: white;
    z-index: 1;
}

#delete-check {
    font-family: sans-serif;
    color: black;
    position: absolute;
    top: 20%;
    left: 53%;
    transform: translate(-50%, -50%);
    width: 350px;
    font-weight: 900;
}

#delete-buttons {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    display: flex;
    justify-content: space-around;
}

.delete-btn {
    height: 35px;
    width: 150px;
    border: 0;
    color: white;
    cursor: pointer;
    outline: none;
}

#delete-no {
    background-color: rgba(0, 180, 0, 0.8);
}

#delete-yes {
    background-color: rgba(255, 0, 0, 0.8);
}

#delete-no:hover {
    background-color: rgba(0, 180, 0, 0.9);
}

#delete-yes:hover {
    background-color: rgba(255, 0, 0, 0.9);
}

#delete-no:active {
    background-color: rgba(0, 180, 0, 1);
}

#delete-yes:active {
    background-color: rgba(255, 0, 0, 1);
}