body {
    background: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    margin: 0 !important;
    background-size: 100% cover !important;
    overflow: hidden;
    display: block;
}


/*Post Buttons: Common CSS for 'All Posts' and 'Create Post'*/

.postButtons {
    position: absolute;
    top: 370px;
    left: 50%;
    transform: translate(-50%);
    outline: none;
}

.post-btn {
    font-size: 16px;
    font-weight: 900;
    color: rgba(0, 0, 0, 1);
    background-color: goldenrod;
    width: 110px;
    height: 40px;
    outline: none;
    line-height: 1px;
}

.post-btn:hover {
    cursor: pointer;
}

.post-btn:active {
    background-color: darkgoldenrod;
}

/*All Posts Button*/

#all-post {
    width: 90px !important;
    margin-right: 5px;
}

/*Create Posts Button*/

#create-post {
    margin-left: 5px;
}

/*Cancel button CSS for Create Post modal*/

#cancel-id {
    position: absolute;
    right: 10px;
    top: 1px;
}

/*Create Post Modal*/

#createPost-modal {
    display: none;
    background-color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Create Post Modal: Heading*/

#createPost-heading {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
    font-family: 'Josefin Sans';
}

/*Create Post Modal: Form*/

#createPost-modal form {
    position: relative;
    top: 80px;
    padding-right: 20px;
}

#createPost-modal label {
    margin: 20px 40px;
    display: block;
    height: 100%;
}

/*Create Post Modal: Span*/

#createPost-modal span {
    display: block;
    font-family: sans-serif;
}

/*Create Post Modal: Textbox*/

#createPost-titleBox {
    margin-top: 8px;
    text-indent: 10px;
    border: 0;
    background-color: gainsboro;
    width: 65%;
    height: 30px;
}

/*Create Post Modal: Textarea*/

#createPost-contentBox {
    padding: 10px;
    text-indent: 10px;
    margin-top: 8px;
    border: 0;
    background-color: gainsboro;
    width: 100%;
    min-height: 650px;
    height: 30px;
}

/*Create Post Modal: Create button*/

#createPost-modal button {
    cursor: pointer;
    position: relative;
    left: 50%;
    bottom: 40px;
    transform: translate(-50%);
    margin: 30px;
    border: 0;
    color: white;
    background-color: #00b359;
    width: 80px;
    height: 38px;
    font-size: 16px;
    font-weight: 900;
    line-height: 2.4;
}