.blogTitle {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-size: 150%;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    text-align: center;
}

#blogTitleNew {
    width: 100%;
    padding: 0 5px;
}

#blogBody {
    width: 100%;
    min-height: 148px;
    padding: 5px;
    text-align: justify;
}

.blogText {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.blogAuthor {
    padding: 0px 0px 0px 10px;
    font-family: 'Niconne', cursive;
    font-size: 30px;
}

.blogContent {
    width: 94%;
    padding: 0 50px;
    position: absolute;
    top: 110px;
}

.action {
    position: absolute;
    top: 55px;
    right: 58px;
    border: 0;
    color: white;
    background-color: rgba(255, 20, 147, 0.5);
    outline: none;
    width: 70px;
    height: 30px;
    font-weight: 900;
    cursor: pointer;
}

.action:hover {
    background-color: rgba(255, 20, 147, 0.7);
}

.action:active {
    background-color: rgba(255, 20, 147, 8);
    box-shadow: 0 0 7px -1px pink;
}

.button-container {
    position: relative;
    left: -5px;
    width: 70px;
}

#text {
    position: absolute;
    left: 11px;
    line-height: 0.2;
}

#icon {
    position: absolute;
    right: 11px;
    margin-left: 6px;
    font-size: 17px;
    font-weight: 900;
    line-height: 0.09;
}

#save #text {
    left: 8px !important;
}

#save #icon {
    line-height: 0 !important;
}

#like-button {
    border: 0;
    color: white;
    background-color: rgba(255, 20, 147, 0.5);
    width: 80px;
    height: 35px;
    font-size: 14px;
    font-weight: 900;
    outline: none;
    cursor: pointer;
}

#like-text {
    line-height: 2.2;
}

#like-button:hover {
    background-color: rgba(255, 20, 147, 0.7);
}

#like-tag {
    padding-top: 5px;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#comment-box {
    margin-top: 20px;
    width: 740px;
    height: 150px;
}

#comment-button {
    position: relative;
    top: 30px;
    left: -750px;
    border: 0;
    color: white;
    background-color: rgba(255, 0, 0, 0.6);
    font-size: 14px;
    width: 90px;
    height: 35px;
    outline: none;
    cursor: pointer;
}

#comment-button:hover {
    background-color: rgba(255, 0, 0, 0.7);
}

#comment-button:active {
    background-color: rgba(255, 0, 0, 0.9);
}

#all-comments {
    position: relative;
    top: 38px;
    font-size: 25px;
}

#comment-storage {
    position: relative;
    top: 25px;
    width: 730px;
    padding: 10px;
    margin-bottom: 20px;
}

.comments {
    position: relative;
    margin: 20px;
    min-height: 30px;
    background-color: white;
    padding: 20px;
    line-height: 2;
}